@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter.ttf") format("ttf"), url("../../fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

html {
  color: #FFF !important;
  font-family: "Inter";
  line-height: 1.5;
  /* [1] */
}

@media (max-width: 699px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  html {
    font-size: 16px;
    /* [1] */
  }
}

@media (min-width: 1600px) and (max-width: 1999px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 2000px) and (max-width: 2399px) {
  html {
    font-size: 21px;
  }
}

@media (min-width: 2400px) {
  html {
    font-size: 24px;
  }
}

html:not(.has-scroll-init) {
  cursor: wait;
  overflow: hidden;
}

/* ::selection {
    background-color: $selection-background-color;
    color: $selection-text-color;
    text-shadow: none;
} */
a {
  -webkit-transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  color: #FFFFFF;
}

@media (min-width: 1200px) {
  a:focus, a:hover {
    color: #99e159;
  }
}

a.-underline {
  text-decoration: underline;
}

.o-h, h1, .o-h1, h2, .o-h2, h3, .o-h3, h4, .o-h4, h5, .o-h5, h6, .o-h6 {
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 400;
}

h1, .o-h1 {
  line-height: 0.9;
}

@media (max-width: 699px) {
  h1, .o-h1 {
    font-size: 12vw;
  }
}

@media (min-width: 700px) and (max-width: 1599px) {
  h1, .o-h1 {
    font-size: 9vw;
  }
}

@media (min-width: 1600px) {
  h1, .o-h1 {
    font-size: 12vw;
  }
}

h2, .o-h2 {
  font-size: rem(32px);
}

h3, .o-h3 {
  font-size: rem(24px);
}

h4, .o-h4 {
  line-height: 1.2;
  font-size: rem(16px);
}

h5, .o-h5 {
  font-size: rem(16px);
}

h6, .o-h6 {
  font-size: rem(15px);
}

/* stylelint-disable */
/* stylelint-enable */
.o-container {
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1520px);
}

@media (max-width: 699px) {
  .o-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 700px) {
  .o-container {
    padding-right: rem(40px);
    padding-left: rem(40px);
  }
}

body {
  margin: 0;
  --color-text: #fff;
  --color-bg: #101010;
  --color-link: #fff;
  --color-link-location: #99e159;
  --color-link-hover: #99e159;
  --color-alt: #7f6a57;
  --color-bg-item1: #15171b;
  --color-bg-item2: #2c35b7;
  --color-bg-item3: #99e159;
  --color-bg-item4: #1d2027;
  --color-bg-item5: #0f1013;
  --color-item-alt: #99e159;
  --color-quote: #ffffff;
  --color-info: #57535a;
  --color-title: #6de24b;
  --color-tagline: #e2e2e2;
  --cursor-fill: #99e159;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  counter-reset: contentSection;
  font-family: Inter, sans-serif;
}

.action {
  background: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 0;
}

.action--menu {
  pointer-events: auto;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
}

.menu--open .action--menu {
  pointer-events: none;
}

.action--close {
  position: absolute;
  top: 1.5rem;
  right: 1.75rem;
  z-index: 1000;
  opacity: 0;
  padding: 0 0.5rem;
}

.icon--menu {
  width: 2rem;
  color: #fff;
  fill: green;
}

.icon--menu svg {
  fill: white;
}

#icon--menu {
  color: red;
}

.icon--close {
  width: 1rem;
}

.menu {
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  pointer-events: none;
}

.menu--open {
  pointer-events: auto;
}

.menu__item,
.menu__item-inner {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.menu__item-inner {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item--1 .menu__item-inner {
  background: var(--color-bg-item1);
}

.menu__item--2 .menu__item-inner {
  background: var(--color-bg-item2);
}

.menu__item--3 .menu__item-inner {
  background: var(--color-bg-item3);
}

.menu__item--4 .menu__item-inner {
  background: var(--color-bg-item4);
}

.menu__item--5 .menu__item-inner {
  background: var(--color-bg-item5);
}

.label,
.menu__item--4,
.menu__item--5 {
  display: none;
}

.mainmenu__item {
  opacity: 0;
}

.mainmenu__item,
.sidemenu__item {
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  margin: 0.25rem 0;
  display: block;
}

.sidemenu__item-inner {
  display: block;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  color: black;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}

a:link {
  text-decoration: none;
}

.menu__item-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.2, 1, 0.8, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.2, 1, 0.8, 1);
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.8, 1);
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.8, 1), -webkit-transform 0.8s cubic-bezier(0.2, 1, 0.8, 1);
}

.menu__item-inner:hover .menu__item-map {
  -webkit-transform: scale3d(1.1, 1.1, 1);
          transform: scale3d(1.1, 1.1, 1);
}

.menu__item-hoverlink {
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
  z-index: 1000;
  display: block;
}

.menu__item-hoverlink:hover {
  color: var(--color-link-location);
}

.quote {
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  max-width: 70%;
  color: var(--color-quote);
  font-family: Inter, sans-serif;
  font-weight: bold;
}

.quote span {
  color: #99e159;
}

.menu__item-link {
  text-align: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: start;
  font-size: 1.5rem;
  width: 100%;
  line-height: 1;
  padding: 2rem;
  margin: 3rem 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 3rem);
}

.menu__item-link:after {
  content: "\27F6";
  display: block;
  margin-top: auto;
  font-size: 0.95rem;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  width: 150px;
}

.js .loading:after,
.js .loading:before {
  content: "";
  position: fixed;
  z-index: 1000;
}

.js .loading:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading:after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  -webkit-animation: loaderAnim 0.7s linear infinite alternate forwards;
          animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@-webkit-keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: underline;
  color: var(--color-link);
  outline: none;
}

a:focus, a:hover {
  color: var(--color-link-hover);
  outline: none;
  text-decoration: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  margin-top: -50px;
  width: 0;
  height: 0;
  pointer-events: none;
  color: #fff;
}

svg {
  fill: #fff;
}

.titulo {
  font-size: 3rem;
  color: #99e159;
}

main {
  overflow: hidden;
}

#syngular-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -100;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
}

.center-right {
  position: absolute;
  top: 45%;
  right: 3rem;
  width: 25px;
  height: 25px;
}

.instagram {
  top: 40%;
}

.spotify {
  top: 46%;
}

carousel-caption {
  bottom: 90px;
}

.carousel-indicators li {
  width: 70px;
  height: 36px;
  border: 1px solid #222;
}

.carousel-indicators .active {
  border: 1px solid #ff7474;
}

.carousel-title {
  font-size: 4vh;
  font-weight: 600;
  margin-top: 20px;
  color: #99e159;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .carousel-title {
    font-size: 18px;
    margin-top: 20px;
    color: #99e159;
  }
}

.c-direction-block_wrapper {
  margin-bottom: rem(500px);
}

@media (min-width: 1200px) {
  .c-direction-block_wrapper {
    min-height: 180vh;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .c-direction-block_wrapper {
    min-height: 130vh;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  .c-direction-block_wrapper {
    min-height: 100vh;
  }
}

@media (max-width: 699px) {
  .c-direction-block_wrapper {
    min-height: 70vh;
  }
}

@media (min-width: 1000px) {
  .c-direction-block_wrapper {
    margin-top: -35vh;
  }
}

.c-direction-block {
  margin-top: 550px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
}

@media (min-width: 1200px) {
  .c-direction-block {
    top: -50vh;
    bottom: -50vh;
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .c-direction-block {
    top: -30vh;
    bottom: -50vh;
  }
}

@media (max-width: 699px) {
  .c-direction-block {
    top: -15vh;
    bottom: 0;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .c-direction-block {
    margin-top: rem(100px);
  }
}

@media (min-width: 1200px) {
  .c-direction-block {
    margin-top: rem(300px);
  }
}

.c-direction-block_item {
  position: absolute;
  font-size: 10vw;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}

.c-direction-block_item span {
  display: block;
  background-color: #99e159;
  white-space: nowrap;
  padding: 0 20px;
  color: black;
}

.c-direction-block_item .uno {
  background-color: grey;
}

.c-direction-block_item .dos {
  background-color: #99e159;
}

.c-direction-block_item .tres {
  background-color: white;
}

.c-direction-block_item.-one {
  top: 33%;
  -webkit-transform: translateX(-50vw) rotate(26deg);
          transform: translateX(-50vw) rotate(26deg);
}

.c-direction-block_item.-two {
  top: 45%;
  -webkit-transform: translateX(-50vw) rotate(26deg);
          transform: translateX(-50vw) rotate(26deg);
}

.c-direction-block_item.-three {
  top: 55%;
  -webkit-transform: rotate(9deg);
          transform: rotate(9deg);
}

.c-direction-block_item.-four {
  top: 68%;
  -webkit-transform: translateX(-50vw) rotate(-19deg);
          transform: translateX(-50vw) rotate(-19deg);
}

.c-direction-block_item.-five {
  top: 63%;
  -webkit-transform: translateX(-10vw) rotate(3deg);
          transform: translateX(-10vw) rotate(3deg);
}

.icon-syngular {
  height: 20px;
  width: 20px;
  display: block;
  margin-top: 5px;
}

.titulo-bordeado {
  font-family: 'Poppins', sans-serif;
  font-size: 10vh;
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
  font-weight: 700;
}

.conection {
  margin-top: 500px !important;
}

.titulo-conection {
  letter-spacing: -4px;
  font-weight: 700;
  color: #99e159;
}

.titulo-servicios {
  text-align: center;
  font-size: 14vh;
  font-weight: 600;
}

.titulo-proyectos {
  text-align: center;
  font-size: 14vh;
  font-weight: 600;
  margin-bottom: 20vh;
  margin-top: 20vh;
}

@media only screen and (max-width: 600px) {
  .conquista {
    padding: 2rem;
    margin-bottom: 5vh;
  }
  .conection {
    padding: 1rem;
    margin-top: 6vh;
  }
  .titulo-bordeado {
    font-family: 'Poppins', sans-serif;
    font-size: 5vh;
    -webkit-text-stroke: 1px #99e159;
    color: transparent;
    font-weight: 700;
  }
  .titulo-bordeado h3 {
    margin-bottom: 2rem;
  }
  .proyecto {
    padding: 1rem;
  }
  .proyecto h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 6vh;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    font-weight: 900;
  }
  .titulo-servicios {
    font-family: 'Inter', sans-serif;
    font-size: 4vh;
    text-align: center;
    font-weight: 600;
  }
  .titulo-nosotros {
    font-family: 'Inter', sans-serif;
    font-size: 2vh;
    text-align: center;
  }
  .titulo-proyectos {
    text-align: center;
    font-size: 4vh;
    font-weight: 600;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }
}

.form-style {
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 2px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  height: 45px;
}

.final {
  width: 100vw;
  height: 500px;
}

.final a {
  text-decoration: none;
  padding: 0.5rem;
  border-bottom: 1px solid #fff;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 3rem;
  font-weight: 700;
}

.content {
  padding: 2rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content--auto {
  min-height: 0;
}

.content--feature {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 0;
}

.content--fixed {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}

.content__pretitle {
  margin-top: auto;
  font-size: 1.85rem;
  color: var(--color-alt);
}

.content__pretitle:before {
  content: "\2015";
  margin-right: 0.25rem;
}

.content__title {
  font-size: 9vw;
  line-height: 0.79;
  letter-spacing: -8px;
  margin: 0 0 3rem;
  max-width: 800px;
  will-change: transform;
  font-weight: 600;
}

.content__title span {
  color: #99e159;
}

.confianza {
  width: 100vw !important;
  background-color: #101010;
  padding-bottom: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 50vh;
}

.conquista {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 70vh;
  padding-top: 5rem;
}

.conquista a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 1rem;
}

.conquista span {
  text-decoration: underline;
}

.conexion {
  text-decoration: underline;
}

.pregunta {
  font-size: 3vh;
  font-weight: 400;
  line-height: 2rem;
  background-color: #101010;
  padding: 0%;
  margin: 0%;
}

.pregunta p span {
  font-weight: 700;
}

.conoce {
  font-size: 2vh;
}

.proyecto {
  padding: 4rem;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.proyecto h3 {
  font-family: "Poppins", sans-serif;
  font-size: 114px;
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
  font-weight: 900;
}

.pro1 {
  background-image: url("../img/conveierte+.png");
}

.pro2 {
  background-image: url("../img/fondo-adc.png");
}

.pro3 {
  background-image: url("../img/betalfa/betalfa.png");
}

.pro4 {
  background-image: url("../img/motosmart/fondo-banner-motosmart.png");
}

.jumbotron a,
.link-button {
  text-decoration: none;
  padding: 1em;
  border: 2px solid white;
  color: #fff;
  border-radius: 5px;
}

.subtitulo {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.link-button {
  margin-top: 200px;
}

.titulo-principal {
  color: #99e159;
  font-size: 3rem;
  font-weight: 700;
}

.content__text {
  font-size: 1.25rem;
  font-size: clamp(1rem, 4vw, 1.25rem);
}

.content__text--right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.content__text--centered {
  margin: auto;
}

.content__breakout {
  margin: 0 -3rem;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  font-weight: 900;
  color: #fff;
  background-color: #99e159;
}

.content__breakout--big {
  letter-spacing: 1px;
  font-size: 12vw;
  font-weight: 900;
}

.content__breakout--medium {
  font-size: 5vw;
  font-style: italic;
}

.tiles {
  --tiles-height: 100vh;
  height: var(--tiles-height);
  position: relative;
  overflow: hidden;
}

.tiles--columns-rotated {
  --tiles-height: 180vmax;
}

.tiles--columns {
  --tiles-height: 140vh;
}

.tiles--oneline {
  --tiles-height: 50vh;
  min-height: 400px;
  margin: 10vh 0;
}

.tiles--small {
  --tiles-height: 100px;
  margin: 10vh 0 0;
}

.tiles--fixed {
  --tiles-height: 65vw;
  margin-top: 25vh;
}

.tiles--perspective {
  overflow: visible;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  --tiles-height: 500px;
}

.tiles__wrap {
  width: 150%;
  --tileswrap-height: var(--tiles-height);
  height: var(--tileswrap-height);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.tiles--rotated .tiles__wrap {
  --tileswrap-height: calc(var(--tiles-height) * 1.8);
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
          transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
}

.tiles--columns-rotated .tiles__wrap {
  width: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-22.5deg);
          transform: translate3d(-50%, -50%, 0) rotate(-22.5deg);
  left: 50%;
  top: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tiles--columns .tiles__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --tileswrap-height: calc(var(--tiles-height) * 1.4);
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  left: 0;
  top: 50%;
}

.tiles--perspective .tiles__wrap {
  width: 200%;
  -webkit-transform: translate3d(-50%, -50%, 0) translateX(-25%) translateZ(-1200px) rotateX(75.5deg) rotate(12deg);
          transform: translate3d(-50%, -50%, 0) translateX(-25%) translateZ(-1200px) rotateX(75.5deg) rotate(12deg);
}

.tiles--fixed .tiles__wrap {
  width: 100%;
}

.tiles__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tiles--columns .tiles__line {
  width: 25%;
  padding: 0 1rem;
  display: block;
}

.tiles--columns-rotated .tiles__line {
  width: 320px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 0 1.5vw;
  display: block;
}

.tiles--columns-rotated .tiles__line:nth-child(2n) {
  margin-top: -160px;
}

.tiles--oneline .tiles__line,
.tiles--small .tiles__line {
  height: 100%;
}

.tiles__line-img {
  --tile-margin: 2vw;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc(var(--tileswrap-height) / 3 - var(--tile-margin) * 3 / 2);
  margin: var(--tile-margin);
  background-size: cover;
  background-position: 50% 50%;
  -webkit-filter: grayscale(5%);
          filter: grayscale(5%);
}

.tiles--perspective .tiles__line-img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  --tile-margin: 1vw;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: 21.6658vw;
}

.tiles--oneline .tiles__line-img {
  --tile-margin: 1vw;
  margin: 0 var(--tile-margin);
  width: calc(25% - var(--tile-margin) * 2);
  height: 100%;
}

.tiles--small .tiles__line-img {
  --tile-margin: 5px;
  margin: 0 var(--tile-margin);
  width: calc(12.5% - var(--tile-margin) * 2);
  height: 100%;
}

.tiles--rotated .tiles__line-img {
  --tile-margin: 1vw;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc(var(--tileswrap-height) / 5 - var(--tile-margin) * 4 / 2);
}

.tiles--columns-rotated .tiles__line-img {
  --tile-margin: 3vw 0;
  width: 100%;
  height: 400px;
}

.tiles--columns .tiles__line-img {
  --tile-margin: 2rem 0;
  width: 100%;
  height: 32.5vw;
}

.tiles--fixed .tiles__line-img {
  --tile-margin: 10px;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc(var(--tileswrap-height) / 3 - var(--tile-margin) * 3 / 2);
}

.tiles--darker .tiles__line-img {
  opacity: 0.7;
}

.tiles__title {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10vw;
  padding: 3rem;
  margin: 0;
  line-height: 0.8;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tiles__title--alt {
  font-size: 9vw;
  font-size: clamp(2rem, 9vw, 7.25rem);
}

.tiles__title--intro {
  padding-top: 10vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tiles__title--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tiles__title--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tiles__title--full {
  height: 100%;
}

.backtop {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto 0;
  font-size: 6vw;
  cursor: pointer;
  text-decoration: none;
}

.backtop:after {
  content: "\2934";
  font-size: 3vw;
  vertical-align: top;
  margin-left: 1rem;
}

.card-deck {
  margin-top: -150px;
}

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
          transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.final {
  width: 100vw;
  height: 500px;
}

.final a {
  text-decoration: none;
  padding: 0.5rem;
  border-bottom: 1px solid #fff;
}

hr {
  border: 1px solid #fff;
  width: 150;
}

.copy {
  margin-top: 50px;
}

@media screen and (min-width: 53em) {
  .tiles--columns-rotated .tiles__line {
    width: 33vmax;
  }
  .tiles--columns-rotated .tiles__line:nth-child(2n) {
    margin-top: -20vmax;
  }
  .tiles--columns-rotated .tiles__line-img {
    height: 40vmax;
  }
  .content--numbered:after {
    counter-increment: contentSection;
    content: counter(contentSection, decimal-leading-zero);
    position: absolute;
    top: 50%;
    right: 3rem;
    border: 1px solid;
    color: var(--color-alt);
    width: 4rem;
    height: 4rem;
    margin-top: -2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
  }
  .content__text {
    max-width: 800px;
    width: 50vw;
    min-width: calc(300px - 6rem);
  }
  .content__text--wide {
    max-width: 1000px;
    width: 65vw;
  }
  .tiles--small {
    --tiles-height: 240px;
  }
  .menu {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    -ms-grid-columns: 20% 30% 50%;
        grid-template-columns: 20% 30% 50%;
    -ms-grid-rows: 60% 40%;
        grid-template-rows: 60% 40%;
        grid-template-areas: "item3 item2 item1" "item4 item5 item1";
  }
  .menu__item {
    height: 100%;
  }
  .menu__item--1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: item1;
  }
  .menu__item--2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: item2;
  }
  .menu__item--3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: item3;
  }
  .menu__item--4 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: item4;
  }
  .menu__item--5 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: item5;
  }
  .menu__item--4,
  .menu__item--5 {
    display: block;
  }
  .menu__item-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .label {
    display: block;
    color: var(--color-item-alt);
    position: absolute;
    z-index: 1000;
    font-size: 0.85rem;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
  }
  .label--topleft {
    top: 2rem;
    left: 2rem;
  }
  .label--vert,
  .label--vert-mirror {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
  }
  .label--vert-mirror {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .label--bottomright {
    bottom: 2rem;
    right: 2rem;
  }
  .label:before {
    content: "------------- ";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -1px;
    margin: 0 0.75rem 0 0;
  }
  .label--vert-mirror:before,
  .label--vert:before {
    margin: 0.75rem 0;
  }
  .mainmenu,
  .sidemenu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainmenu {
    counter-reset: menuitem;
  }
  .mainmenu__item {
    font-size: 3vw;
    text-transform: lowercase;
    overflow: visible;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    position: relative;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .mainmenu__item:before,
  .mainmenu__item:hover {
    color: var(--color-item-alt);
  }
  .mainmenu__item:before {
    counter-increment: menuitem;
    content: counters(menuitem, "", decimal-leading-zero);
    position: absolute;
    font-size: 0.85rem;
    top: 25%;
    left: -1.25rem;
  }
  .mainmenu__item:after {
    content: "";
    width: 100%;
    top: 58%;
    height: 6px;
    background: var(--color-link-hover);
    position: absolute;
    left: 0;
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  .mainmenu__item:hover:after {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .sidemenu__item {
    letter-spacing: 0.15rem;
    font-size: 1.5rem;
  }
  .menu__item-hoverlink {
    font-size: 1.25rem;
    text-transform: lowercase;
    border-bottom: 2px solid #fff;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .menu__item-inner:hover .menu__item-hoverlink {
    opacity: 1;
  }
}

.pregunta {
  font-size: 5vh;
  font-weight: 400;
  line-height: 2rem;
  background-color: #101010;
  padding: 5rem;
  margin: 0%;
}

.cintas {
  margin-top: -10%;
  margin-bottom: 35%;
}

@media (max-width: 576px) {
  .cintas {
    margin-top: -70%;
    margin-bottom: 35%;
  }
  .mainmenu__item {
    font-size: 6vw;
  }
  .nosotros-1 {
    margin-top: -500px;
  }
  .titulo {
    font-size: 1.5rem;
    color: #99e159;
  }
  .content__title {
    font-size: 12vw;
    line-height: 1;
    letter-spacing: 1px;
    margin: 0 0 3rem;
    max-width: 800px;
    will-change: transform;
    font-weight: 700;
  }
  .content__title span {
    color: #99e159;
  }
  .pregunta {
    font-size: 5vh;
    font-weight: 400;
    line-height: 2rem;
    background-color: #101010;
    padding: 0%;
    margin-top: 15%;
  }
  .titulo-conection {
    font-size: 7vh;
  }
  .conquista {
    max-height: 70vh;
  }
  .conexion {
    margin-top: 50px;
    text-decoration: underline;
  }
  .proyecto {
    padding: 2rem;
  }
  .proyecto h3 {
    font-size: 6vh;
  }
}

body {
  background-color: black;
}

.nosotros {
  padding: 4rem;
}

.nosotros .card-title {
  color: #fff;
}

.nosotros .card-body {
  background-color: rgba(0, 0, 0, 0.856);
}

.nosotros i {
  color: #99e159;
}

.content-nosotros {
  padding: 2rem;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.titulo-nosotros {
  margin-top: 6vh;
  font-family: 'Inter', sans-serif;
  font-size: 13vh;
  font-weight: 500;
  letter-spacing: -5px;
  line-height: 11vh;
  margin-left: 11vw;
  margin-bottom: 10vh;
}

.hover-gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover-gray:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: transparent;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .titulo-nosotros {
    text-align: center;
  }
}

.noscroll main {
  overflow: hidden;
  height: 100vh;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  -webkit-animation: loaderAnim 0.7s linear infinite alternate forwards;
          animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: underline;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--color-link-hover);
  outline: none;
}

.grilla-proyectos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'frame' 'content';
}

.frame {
  padding: 1rem;
  text-align: center;
  position: relative;
  z-index: 1000;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: frame;
  font-weight: 300;
}

.frame__title {
  font-size: 1rem;
  margin: 0 0 1rem;
  font-weight: 500;
  position: relative;
  padding: 0 3.5rem;
}

.frame__title::before,
.frame__title::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1.5rem;
  border: 2px solid #c5681c;
  left: 0;
  top: calc(50% - 0.75rem);
}

.frame__title::before {
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.frame__links {
  display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
  margin-right: 1rem;
}

.frame__demos {
  margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
  color: var(--color-text);
  text-decoration: none;
}

.cursor {
  display: none;
}

/* Recommended styles for Splitting */
.splitting .word,
.splitting .char {
  display: inline-block;
}

/* Psuedo-element chars */
.splitting .char {
  white-space: nowrap;
  position: relative;
}

@media screen and (min-width: 53em) {
  :root {
    font-size: 18px;
  }
  .grilla-proyectos {
        grid-template-areas: 'content';
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    width: 100%;
  }
  .frame {
    padding: 1.5rem 2rem;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .frame__title,
  .frame__demos {
    margin: 0;
  }
  .frame__demos {
    margin: 0 auto 0 4rem;
  }
  .frame__links {
    padding: 0;
  }
  .frame a {
    pointer-events: auto;
  }
}

@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
  }
  .cursor__inner {
    fill: var(--cursor-fill);
    stroke: var(--cursor-stroke);
    stroke-width: var(--cursor-stroke-width);
    opacity: 0.7;
  }
  .no-js .cursor {
    display: none;
  }
}

.title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  font-size: 15vw;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  z-index: 1500;
  color: white;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: start;
}

.js .title {
  opacity: 0;
}

.gallery {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  -ms-grid-column-align: center;
      justify-self: center;
}

.gallery__item {
  position: relative;
  margin: 25vh 0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'gallery-caption' 'gallery-image';
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.gallery__item-img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: gallery-image;
  width: calc(100vw - 50vw);
  max-width: 375px;
  overflow: hidden;
  position: relative;
  will-change: transform, opacity;
  cursor: pointer;
}

.noscroll .gallery__item-img {
  cursor: default;
}

.js .gallery__item-img {
  opacity: 0;
}

.gallery__item-imginner {
  background-size: cover;
  background-position: 50% 0;
  width: 100%;
  padding-bottom: 140%;
}

.gallery__item-caption {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: gallery-caption;
  padding: 0 0 1rem;
}

.gallery__item-title {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 8vw;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  bottom: 15%;
  pointer-events: none;
}

.gallery__item-title span.char {
  opacity: 0;
  will-change: transform;
}

.gallery__item-number {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  border-bottom: 1px solid #494444;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.gallery__item-text {
  margin: 0;
}

.gallery__item-number,
.gallery__item-text {
  opacity: 0;
  will-change: transform, opacity;
}

@media screen and (min-width: 53em) {
  .gallery__item {
        grid-template-areas: 'gallery-filler gallery-image gallery-caption';
    -ms-grid-columns: 15vw auto 15vw;
        grid-template-columns: 15vw auto 15vw;
  }
  .gallery__item-caption {
    padding: 0 0 0 1rem;
  }
}

h3 {
  color: white;
}

.formulario {
  padding: 1rem;
  height: 100vh;
}

.enviar {
  background-color: black;
  color: white;
  border: 2px white solid;
}

li {
  text-decoration: none;
}

.whatsapp {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid white;
}

@media only screen and (max-width: 600px) {
  .contactenos {
    height: 100vh;
  }
}

.u-white {
  color: #FFFFFF;
}

.u-label {
  font-size: rem(24px);
  text-transform: uppercase;
  font-weight: 600;
}

.u-icon {
  font-family: 'inter', sans-serif;
  font-size: rem(18px);
}

.u-text {
  font-size: rem(14px);
}

.u-clearfix::after {
  display: table;
  clear: both;
  content: " ";
}

.u-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;
}

[hidden][aria-hidden="false"] {
  position: absolute;
  display: inherit;
  clip: rect(0, 0, 0, 0);
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.u-screen-reader-text {
  position: absolute important(true);
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

@media not print {
  .u-screen-reader-text\@screen {
    position: absolute important(true);
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
  }
}

/*
 * Extends the `.screen-reader-text` class to allow the element
 * to be focusable when navigated to via the keyboard.
 *
 * @link https://www.drupal.org/node/897638
 * @todo Define styles when focused.
 */
.u-screen-reader-text.-focusable:focus, .u-screen-reader-text.-focusable:active {
  clip: auto;
  width: auto;
  height: auto;
}
/*# sourceMappingURL=main.css.map */