.content--feature {
    justify-content: flex-start;
    min-height: 0;
}
.cintas{
    margin-top: -10%;
    margin-bottom: 35%;
}
@media (max-width: 576px) {
    .cintas{
      margin-top: -70%;
      margin-bottom: 35%;
    }
}
.c-direction-block {
    margin-top: 550px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
  }
  
  @media (min-width: 1200px) {
    .c-direction-block {
      top: -50vh;
      bottom: -50vh;
    }
}
.c-direction-block_item {
    position: absolute;
    font-size: 10vw;
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
  }
  
  .c-direction-block_item span {
    display: block;
    background-color: #99e159;
    white-space: nowrap;
    padding: 0 20px;
    color: black;
  }
  
  .c-direction-block_item .uno {
    background-color: grey;
  }
  
  .c-direction-block_item .dos {
    background-color: #99e159;
  }
  
  .c-direction-block_item .tres {
    background-color: white;
  }
  
  .c-direction-block_item.-one {
    top: 33%;
    -webkit-transform: translateX(-50vw) rotate(26deg);
            transform: translateX(-50vw) rotate(26deg);
  }
  
  .c-direction-block_item.-two {
    top: 45%;
    -webkit-transform: translateX(-50vw) rotate(26deg);
            transform: translateX(-50vw) rotate(26deg);
  }
  
  .c-direction-block_item.-three {
    top: 55%;
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
  
  .c-direction-block_item.-four {
    top: 68%;
    -webkit-transform: translateX(-50vw) rotate(-19deg);
            transform: translateX(-50vw) rotate(-19deg);
  }
  
  .c-direction-block_item.-five {
    top: 63%;
    -webkit-transform: translateX(-10vw) rotate(3deg);
            transform: translateX(-10vw) rotate(3deg);
  }