// ==========================================================================
// Base / Fonts
// ==========================================================================


@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter-Regular.ttf') format('ttf');
       
    font-weight: 500;
    font-style: normal;
}
$font-inter: 'Neue Montreal';

